<section class="page-slide application page-slide_5">
    <div class="skew">
        <div class="unskew"></div>
    </div>
    <div class="content">
        <div class="container clr">
            <div class="block_main_title">
                <div class="text">
                    <span class="text_sm">submit your application</span>
                    <span class="text_lg">оставить заявку</span>
                </div>
                <div class="divider"></div>
            </div>
        </div>
        <form action="#" class="clr" id="contact_form">
            <div class="waiting_block"></div>
            <div class="input_group">
                <input type="text" placeholder="Имя *" class="required" name="Имя" data-component="form-input">
            </div>
            <div class="input_group">
                <input type="text" placeholder="Фамилия" class="" name="Фамилия" data-component="form-input">
            </div>
            <div class="input_group">
                <input type="text" placeholder="Телефон *" class="required" name="Телефон" data-component="form-input">
            </div>
            
            <div class="input_group">
                <input type="email" placeholder="Почта *" class="required" name="Почта" data-component="form-input">
            </div>
            <div class="input_group full_width_sm col_2_width_md">
                <div class="closed checkbox_group_dropdown" name="Услуги" data-component="form-input">
                    <div class="navbar_header">
                        <span data-component="dropdown_toggle">Выбрать услугу</span>
                    </div>
                    <div class="dropdown_container">
                        <ul class="dropdown_bar">
                            <li>
                                <input type="checkbox" id="check1" name="Продвижение в социальных сетях">
                                <label for="check1">Продвижение в социальных сетях</label>
                            </li>
                            <li>
                                <input type="checkbox" id="check2" name="Контекстная реклама">
                                <label for="check2">Контекстная реклама</label>
                            </li>
                            <li>
                                <input type="checkbox" id="check3" name="Провижение сайта">
                                <label for="check3">Провижение сайта</label>
                            </li>
                            <li>
                                <input type="checkbox" id="check4" name="Создание и разработка сайта">
                                <label for="check4">Создание и разработка сайта</label>
                            </li>
                            <li>
                                <input type="checkbox" id="check5" name="Полиграфия">
                                <label for="check5">Полиграфия</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="input_group full_width_sm">
                <textarea placeholder="Комментарий" name="Комментарий" data-component="form-input"></textarea>
            </div>
            <div class="input_group full_width_sm clr">
                <button type="submit" class="submit animated_button">
                    Отправить
                    <span class="border border_bottom"><span class="bg"></span></span>
                    <span class="border border_left"><span class="bg"></span></span>
                    <span class="border border_top"><span class="bg"></span></span>
                    <span class="border border_right"><span class="bg"></span></span>
                </button>
            </div>
        </form>
    </div>
</section>