<section class="page-slide contact_us page-slide_7">
    <div class="skew"></div>
    <div class="content">
        <div class="bg_layer"></div> 
        <div class="container clr">
            <div class="block_main_title">
                <div class="text">
                    <span class="text_sm">contacts</span>
                    <span class="text_lg">контакты</span>
                </div>
                <div class="divider"></div>
            </div>
            <div class="clearfix"></div>
            <div class="info_block clr">
                <div class="contacts">
                    <div class="tel clr">
                        <div class="title">телефон:</div>
                        <div class="text">
                            <span>+38 (066) 123 45 56</span>
                            <span>+38 (097) 123 45 56</span>
                        </div>
                    </div>
                    <div class="email clr">
                        <div class="title">email:</div>
                        <div class="text">
                            <span>gmls@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix max-width-1039"></div>
                <ul class="socmenu clr">
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <div class="clearfix max-width-464"></div>
                    <li><a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <span>&copy; 2016 All Rights reserved.</span> <span>Powered by <a href="http://uitlab.com">UITLab</a></span>
    </footer>
</section>
</body>
</html>