<header>
    <nav class="closed menu clr container" id="main_menu">
        <div class="navbar_header clr">
            <h1 class="clr">
                <a href="/" class="navbar_brand">
                    <img class="responsive_img" src="img/gmsl_logo.png" alt="GMSL logo">
                </a>
            </h1>
            <button class="dropdown_toggle" data-component="dropdown_toggle">
                <span class="icon_bar"></span>
                <span class="icon_bar"></span>
                <span class="icon_bar"></span>
            </button>
        </div>
        <div class="dropdown_container clr">
            <div class="dropdown_bar clr">
                <ul class="menu_bar clr">
                    <li>
                        <a href="#" data-target="about_us"><span>О НАС</span></a>
                    </li>
                    <li class="closed" data-component="submenu_container">
                        <a href="services_main.html" data-component="submenu_toggle" data-preventDefaultUntil="900" data-target="services"><span>УСЛУГИ</span></a>
                        <div class="submenu_bar">
                            <ul class="submenu" data-component="submenu">
                                <li><a href="smm_and_smo.html">SMM &amp; SMO</a></li>
                                <li><a href="ppc.html">PPC</a></li>
                                <li><a href="seo.html">SEO</a></li>
                                <li><a href="web_dev.html">Web Development</a></li>
                                <li><a href="polygraphy.html">Polygraphy</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="hidden min-width-900">
                        <a href="#" data-target="partners"><span>ПАРТНЕРЫ</span></a>
                    </li>
                    <li>
                        <a href="#" data-target="Web Development"><span>ОТЗЫВЫ</span></a>
                    </li>
                    <li>
                        <a href="#" data-target="contact_us"><span>КОНТАКТЫ</span></a>
                    </li>
                </ul>
                <div class="navbar_end">
                    <a href="#" data-target="application" class="leave_request animated_button">
                        ОСТАВИТЬ ЗАЯВКУ
                        <span class="border border_bottom"><span class="bg"></span></span>
                        <span class="border border_left"><span class="bg"></span></span>
                        <span class="border border_top"><span class="bg"></span></span>
                        <span class="border border_right"><span class="bg"></span></span>
                    </a>
                    <span class="tel">+38 (066) 123 45 67</span>
                </div>
            </div>
        </div>
    </nav>
</header>