footer {
    font-size: 16px;
    font-weight: 300;
    color: #909593;
    background: #dcdcdc;
    padding: 17px 0;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    margin-top: 100px;
}
html.pageSliderActive footer {
    margin-top: 0;
    position: absolute;
}

footer span {
    display: inline-block;
}

footer a {
    color: #fb3b62;
}